.Title1
{
font-family:Impact;
color:red;
font-size:300%;
text-align:center;
}
.Title2
{
font-family:Impact;
color:black;
font-size:300%;
text-align:center;
}
h1,h2,h3,h4,h5,h6
{
text-align:center;
}
div#body
{
background-color:#ff80ff;
border:2px solid;
border-radius:25px;
-moz-border-radius:25px;
box-shadow: 10px 10px 5px #888888;
}
.text
{
text-align:center;
color:#408080;
font-size:270%;
font-family:KaiTi,Impact;
font-weight:bold;
}
.dl
{
font-size:250%;
}
a
{
text-decoration:none;
}